* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #5c67a3;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: inline-block;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

button {
    background-color: #5c67a3;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.personaje-info {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: inline-block;
    text-align: left;
}

.personaje-info p {
    font-size: 18px;
    margin: 10px 0;
}
